.index-page {
  .main-screen {
    position: relative;
    padding-top: 112px;
    padding-bottom: 230px;

    .background {
      position: absolute;
      top: -96px;
      right: 0;
    }

    .background-992 {
      display: none;
    }

    .background-768 {
      display: none;
    }

    h1.title {
      position: relative;
      z-index: 5;
      max-width: 750px;
    }

    h3.title {
      position: relative;
      z-index: 5;
      max-width: 556px;
    }

    .primary-btn {
      position: relative;
      z-index: 5;
    }
  }

  .about-as-screen {
    padding: 80px 0;

    .sub-title.h7 {
      margin-top: 82px;
    }

    .right-title {
      width: 361px;
    }
  }

  .check-direction-screen {
    padding-top: 83px;
    padding-bottom: 46px;
  }

  .choice-screen {
    padding: 126px 0 80px;

    .test-left-column {
      max-width: 554px;
    }

    .test-right-column {
      max-width: 360px;
    }
  }

  .have-questions-screen {
    padding: 85px 0 133px;

    .primary-input.checkbox {
      flex: 1 0 12px;
    }

    .h7.title {
      margin-top: -5px;
    }

    .primary-btn {
      margin-top: 57px;
    }
  }

  @media screen and ( max-width: 1440px ) {
    .main-screen {
      padding-bottom: 83px;

      .background {
        top: 0;
        max-width: 1200px;
      }
    }
  }

  @media screen and ( max-width: 1199.99px ) {
    .main-screen {
      .background {
        display: none;
      }

      .background-992 {
        position: absolute;
        right: 0;
        bottom: 13px;
        display: block;
      }

      .title-main {
        font-size: 56px;
      }

      h1.title {
        max-width: 500px;
      }

      .text-main {
        margin-top: 32px;
        font-size: 16px;
      }

      h3.title {
        max-width: 400px;
      }

      .primary-btn {
        margin-top: 56px;
      }
    }

    .about-as-screen {
      padding: 90px 0 0;

      .title-about {
        margin-bottom: 40px;
        font-size: 26px;
      }

      .text-about {
        max-width: 404px;
        margin-bottom: 48px;
        font-size: 18px;
      }

      .right-title {
        width: 283px;
        font-size: 12px;
      }

      .sub-title.h7 {
        margin-top: 50px;
      }
    }

    .choice-screen {
      .title-choice {
        margin-bottom: 40px;
        font-size: 26px;
      }

      .text-choice {
        max-width: 404px;
        margin-bottom: 48px;
        font-size: 18px;
      }

      .text-choice-right {
        width: 283px;
        font-size: 12px;
      }
    }
  }

  @media screen and ( max-width: 992px ) {
    .main-screen {
      padding-top: 104px;

      h3.title {
        max-width: 300px;
      }

      .title-main {
        font-size: 48px;
      }

      .text-main {
        margin-top: 32px;
        font-size: 12px;
      }
    }

    .about-as-screen {
      padding: 117px 0 0;

      .title-about {
        font-size: 24px;
      }

      .text-about {
        font-size: 16px;
      }

      .right-title {
        width: 283px;
        font-size: 12px;
      }

      .sub-title.h7 {
        margin-top: 22px;
      }
    }

    .check-direction-screen {
      padding-top: 120px;

      .title-check {
        margin-bottom: 34px;
        font-size: 48px;
        text-align: center;
      }

      .card-title {
        margin-bottom: 23px;
        font-size: 28px;
      }

      .subtitle {
        margin-bottom: 35px;
        font-size: 28px;
      }

      .card {
        padding-top: 40px;
        padding-bottom: 48px;
      }

      .card-wrapper {
        margin-top: 25px;
        padding: 1px;
      }

      .card-link {
        margin-top: 60px;
        margin-bottom: 25px;
      }

      .card-text-second-adaptive {
        margin-bottom: 60px;
      }
    }

    .choice-screen {
      padding-top: 82px;

      .title-choice {
        font-size: 24px;
      }

      .text-choice {
        font-size: 16px;
      }

      .text-choice-right {
        width: 283px;
        font-size: 12px;
      }

      .primary-btn {
        margin-top: 45px;
      }

      .test-right-column {
        margin-top: 76px;
      }
    }

    .teachers-screen {
      .title-teachers {
        font-size: 28px;
      }

      .text-teachers {
        font-size: 16px;
      }

      .title-top-block {
        font-size: 16px;
      }

      .text-top-block {
        font-size: 10px;
      }

      .sub-title {
        font-size: 10px;
      }
    }
  }

  @media screen and ( max-width: 991px ) {
    .about-as-screen {
      .about-as-container {
        display: inline;
      }

      .title-about {
        text-align: center;
      }

      .text-about {
        max-width: 435px;
        margin: 0 auto;
        font-size: 18px;
        text-align: center;
      }

      .right-title {
        width: 395px;
        margin: 0 auto;
        font-size: 14px;
        text-align: center;
      }

      .sub-title.h7 {
        margin-top: 20px;
        text-align: center;
      }

      .sub-title-about {
        margin: 20px 0 40px;
        text-align: center;
      }
    }

    .choice-screen {
      padding-top: 50px;

      .choice-container {
        display: inline;
      }

      .test-left-column {
        max-width: none;
      }

      .test-right-column {
        max-width: none;
        margin-top: 30px;
      }

      .title-choice {
        text-align: center;
      }

      .text-choice {
        max-width: 335px;
        margin: 0 auto;
        text-align: center;
      }

      .text-choice-right {
        width: 376px;
        margin: 0 auto;
        text-align: center;
      }

      .primary-btn {
        margin: 30px auto;
      }

      .copy-choice {
        margin-top: 20px;
        text-align: center;
      }
    }
  }

  @media screen and ( max-width: 767.99px ) {
    .main-screen {
      padding-top: 50px;

      .background-992 {
        display: none;
      }

      .background-768 {
        position: absolute;
        right: 0;
        bottom: 70px;
        display: block;
      }

      .title-main {
        font-size: 48px;
      }

      .text-main {
        font-size: 14px;
      }

      h3.title {
        max-width: 339px;
      }
    }
  }

  @media screen and ( max-width: 575.99px ) {
    .main-screen {
      padding-top: 40px;

      .background-768 {
        bottom: -120px;
      }

      h1.title {
        max-width: none;
        font-size: 28px;
        text-align: center;
      }

      h3.title {
        max-width: none;
        text-align: center;
      }

      .title-main {
        font-size: 32px;
      }
    }

    .about-as-screen {
      padding: 100px 0 0;

      .title-about {
        font-size: 18px;
      }

      .text-about {
        max-width: 400px;
        font-size: 16px;
      }

      .right-title {
        width: 385px;
        font-size: 12px;
      }

      .sub-title.h7,
      .sub-title-about {
        font-size: 10px;
      }
    }

    .check-direction-screen {
      padding-top: 60px;

      .title-check {
        font-size: 36px;
      }

      .card-title {
        margin-bottom: 5px;
        font-size: 18px;
      }

      .subtitle {
        margin-bottom: 20px;
        font-size: 18px;
      }

      .card-term,
      .card-text {
        margin-bottom: 15px;
        font-size: 12px;
      }
    }

    .choice-screen {
      .title-choice {
        font-size: 18px;
      }

      .copy-choice {
        font-size: 10px;
      }
    }
  }

  @media screen and ( max-width: 420px ) {
    .main-screen {
      padding-top: 0;

      .background-768 {
        bottom: -155px;
      }

      h1.title {
        font-size: 24px;
      }

      .text-main {
        margin-top: 16px;
        margin-bottom: 32px;
      }

      .title-main {
        padding: 0 25px;
      }

      h3.title {
        font-size: 10px;
      }

      .primary-btn {
        min-width: 198px;
        margin: 0 auto;
        padding: 12px 34px;
      }
    }

    .about-as-screen {
      padding: 144px 0 0;

      .title-about {
        margin-bottom: 36px;
        font-size: 16px;
      }

      .text-about {
        max-width: 306px;
        font-size: 14px;
      }

      .right-title {
        width: 283px;
        font-size: 10px;
        line-height: 20px;
      }

      .sub-title.h7,
      .sub-title-about {
        font-size: 8px;
      }

      .sub-title-about {
        margin: 24px 0 35px;
      }

      .sub-title.h7 {
        margin-top: 24px;
      }
    }

    .check-direction-screen {
      .title-check {
        margin-bottom: 2px;
        font-size: 24px;
      }

      .card-title {
        margin-bottom: 5px;
        font-size: 16px;
      }

      .subtitle {
        margin-bottom: 20px;
        font-size: 16px;
      }

      .card-term,
      .card-text,
      .card-text-second,
      .card-text-second-adaptive {
        margin-bottom: 15px;
        font-size: 10px;
      }

      .card-wrapper {
        margin-top: 37px;
      }

      .card {
        padding-top: 19px;
        padding-bottom: 34px;
      }

      .card-link {
        margin-top: 40px;
        margin-bottom: 23px;
        font-size: 8px;
      }

      .primary-btn {
        min-width: 198px;
        margin: 0 auto;
        padding: 12px 34px;
        font-size: 12px;
      }
    }

    .choice-screen {
      padding-top: 23px;

      .primary-btn {
        min-width: 198px;
        margin: 38px auto 49px;
        padding: 12px 34px;
        font-size: 12px;
      }

      .title-choice {
        margin-bottom: 32px;
        font-size: 16px;
      }

      .text-choice {
        font-size: 14px;
      }

      .text-choice-right {
        font-size: 10px;
        line-height: 20px;
      }

      .copy-choice {
        font-size: 8px;
      }
    }
  }
}

