</div>

<div class="footer pt80 pb80">
    <div class="container">
        <div class="icons df jcc mt40 pb6">
            <img class="twitter-icon mr35" src="/images/dest/Twitter.svg" alt="">
            <img class="vk-icon mr35" src="/images/dest/VK.svg" alt="">
            <img class="viber-icon mr35" src="/images/dest/Viber.svg" alt="">
            <img class="instagram-icon" src="/images/dest/Instagram.svg" alt="">
        </div>
        <p class="copy tac mt50">hite. com 2021 ©</p>
    </div>
</div>



<!-- Подключаем скрипты проекта -->
<script src="js/app.min.js"></script>
</body>
</html>
