<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LEO Courses</title>
    <!-- Подключаем стили проекта -->
    <link rel="stylesheet" href="/css/app.min.css">
</head>

<body>
<header class="header">
    <div class="container">
            <div class="menu-container pb20 df">
                <a href="/">
                    <picture>
                        <img class="img-logo pr17" src="/images/dest/logo.png" alt="">
                    </picture>
                </a>
                <div class="menu df">
                    <a href="about-us.html" class="text first-text ml58 mr21 mt12">О нас</a>
                    <a href="fullstack.html" class="text mr25 mt12 courses">Курсы</a>
                    <div class="modal">
                        <a class="text">Frontend - разработчик</a>
                        <a class="text">Backend - разработчик</a>
                        <a class="text">Fullstack - разработчик</a>
                    </div>
                    <a href="/" class="text mr24 mt12">Курсы ПЛЮС</a>
                    <a href="/" class="text mr25 mt12">Тест “Выбери свой курс”</a>
                    <a href="certificate.html" class="text mr21 mt12">Сертификаты</a>
                    <a href="contacts.html" class="text mr21 mt12">Контакты</a>
                </div>
                <div class="phone-number df mla m0a">
                    <img class="phone-icon mr25" src="/images/dest/phone.svg" alt="">
                    <div>
                        <a class="phone" href="">+375292047076</a>
                        <a class="phone" href="">+375297809076</a>
                    </div>
                </div>
                <div class="menu-burger">
                    <span></span>
                </div>
            </div>
    </div>
</header>

<div class="pt115">