body.lock {
  overflow: hidden;
}

.img-logo {
  max-width: 60px;
  padding-right: 0;
}

.header {
  position: fixed;
  top: 0;
  z-index: 600;
  width: 100%;
  padding-top: 45px;
  background: var(--black-light);
  box-shadow: 0 18px 22px 7px rgba(10, 9, 20, .93);

  .menu-burger {
    display: none;
  }

  .modal {
    position: absolute;
    top: 90px;
    left: 313px;
    padding: 20px;
    background: #343a40;
    opacity: 0;
    transition: .5s .5s;
  }

  .courses :hover .modal {
    opacity: 1;

  }

  .phone {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .phone-icon {
    max-width: 40px;
  }

  .text {
    cursor: pointer;
    transition: var(--transition);

    &:hover {
      color: var(--blue-light);
    }
  }

  .menu-container {
    border-bottom: 2px solid var(--white);
  }

  @media screen and ( max-width: 1200px ) {
    .menu-burger {
      position: relative;
      z-index: 1000;
      display: inline-block;
      width: 68px;
      height: 33px;
      margin-top: 10px;
      cursor: pointer;
    }

    .menu-burger span,
    .menu-burger::after,
    .menu-burger::before {
      position: absolute;
      right: 0;
      width: 100%;
      height: 17%;
      background-color: var(--white);
      transition: all .8s ease 0s;
    }

    .menu-burger::after,
    .menu-burger::before {
      content: '';
    }

    .menu-burger::before {
      top: 0;
      width: 69%;
    }

    .menu-burger::after {
      bottom: 0;
    }

    .menu-burger span {
      top: 50%;
      transform: scale(1) translate(0, -50%);
    }

    .menu-burger.active span {
      transform: scale(0) translate(0, -50%);
    }

    .menu-burger.active::before {
      top: 50%;
      width: 100%;
      transform: rotate(-45deg) translate(0, -50%);
    }

    .menu-burger.active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0, 50%);
    }
    
    .menu {
      position: fixed;
      top: 0;
      left: -100%;
      display: inline;
      width: 100%;
      height: 100%;
      padding: 150px 0 0 125px;
      overflow: auto;
      background-color: rgba(0, 0, 0, .9);
      transition: all .3s ease 0s;
    }

    .menu.active {
      left: 0;
    }

    .first-text {
      margin-left: 0;
    }

    .phone-icon {
      max-width: 30px;
    }

  }

  @media screen and ( max-width: 992px ) {
    .menu-container {
        .phone-icon {
          max-width: 25px;
        }
      }
  }


  @media screen and ( max-width: 767.99px ) {
    padding-top: 25px;

    .menu-container {
      .img-logo {
        max-width: 50px;
        padding-right: 0;
      }

      .menu-burger {
        width: 56px;
        height: 26px;
        margin-top: 12px;
      }

      .menu-container {
        padding-bottom: 15px;

        .phone {
          font-size: 12px;
        }

        .phone-icon {
          max-width: 15px;
        }
      }
    }
  }

  @media screen and ( max-width: 420px ) {
    padding-top: 13px;

    .menu-container {
      padding-bottom: 7px;

      .a {
        display: flex;
        align-items: center;
      }

      .phone {
        font-size: 8px;
        line-height: 18px;
      }

      .phone-icon {
        max-width: 10px;
        margin-right: 10px;
      }

      .menu-burger {
        width: 31px;
        height: 15px;
      }

      .img-logo {
        max-width: 40px;
      }
    }
  }
}


