<div class="certificates-screen">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img class="" src="images/dest/people-stand.svg" alt="">
            </div>
            <div class="col-sm-6">
                <h2 class="title mt69 mb48">Сертификат</h2>
                <h3 class="title">
                    Работодатели ценят выпускников Leo, сертификат — подтверждение того, что вы серьезно поработали
                    над собой и имеете хорошую перспективу стать первоклассным специалистом ад собой и имеете
                    хорошую перспективу стать первоклассным специалистом
                </h3>
            </div>
        </div>
    </div>
</div>