<div class="cost-screen">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="cost-info">
                    <h2 class="title mb40">Стоимость обучения</h2>
                    <div class="df aib">
                        <h2 class="cost-text">@@cost_mount BYN /</h2>
                        <h3 class="title">
                            месяц в рассрочку на 6 месяцев
                        </h3>
                    </div>
                    <h5 class="title mt24 mb24">или</h5>
                    <div class="df aib">
                        <h2 class="cost-text-light">@@cost_year BYN /</h2>
                        <h6 class="title h7">вместо @@cost_old BYN</h6>
                    </div>
                    <h3 class="title mt16 mb88">
                        при оплате сразу за 6 месяцев
                    </h3>
                    <div class="df">
                        <img class="mr8 mb35" src="images/dest/wallet.svg" alt="">
                        <h6 class="title h7">
                            Вернём деньги в течение первых двух недель, если передумали
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h4 class="text mb40">
                    Остались вопросы?
                </h4>
                <h5 class="title mb48">
                    Если у вас есть вопросы о формате или вы не знаете что выбрать, оставьте свой номер: мы
                    позвоним, чтобы ответить на все ваши вопросы.
                </h5>
                <input type="text" class="primary-input mb40" placeholder="Имя">
                <input type="text" class="primary-input mb60" placeholder="Телефон">
                <div class="col-sm-6">
                    <div class="mt60 df">
                        <input type="checkbox" class="primary-input checkbox mt3">
                        <h6 class="h7 title ml18">
                            Я соглашаюсь на обработку персональных данных и с правилами пользования
                        </h6>
                        <div class="col-sm-3">
                            <button class="primary-btn ml85">Отправить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>