<div class="main-screen">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="title">
                    @@title
                </h1>
                <h3 class="title mt40">
                    @@sub_title
                </h3>
                <button class="primary-btn button-long mt64">Записаться на курс</button>
                <img class="mt100 ml10" src="images/dest/border.svg" alt="">
            </div>
            <div class="col-sm-6">
                <img class="pt18 pl60" src=@@image alt="">
            </div>
        </div>
    </div>
</div>