<div class="practice-screen">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title practice-title mb56">
                    @@title
                </h2>
            </div>
            <div class="col-sm-7">

                @@for (var i = 0; i < list.length; i++) {
                <div class="practice-link df mb32">
                    <img class="mr24 mb110" src="images/dest/cup.svg" alt="">
                    <h5 class="title">
                        → `+list[i]+`
                    </h5>
                </div>
                }

            </div>
            <div class="col-sm-5">
                <img class="img-tablet" src="images/dest/people-tablet.svg" alt="">
            </div>
            <div class="practice-hologram">
                <img class="img-hologram" src="images/dest/hologram.svg" alt="">
            </div>
        </div>
    </div>
</div>