<div class="price-screen">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title tac">
                    @@title
                </h2>
            </div>
            <div class="col-sm-4">
                <img class="price-circle mr24" src="images/dest/circle.svg" alt="">
                <h3 class="text price-number">@@price BYN</h3>
                <h6 class="tittle h7 price-text">Медианная зарплата в РБ</h6>
            </div>
            <div class="col-sm-8">
                <h5 class="title mt90">
                    Фактическая зарплата зависит от города и конкретной компании. Выйти на указанный уровень можно
                    за год реальной разработки.
                </h5>
                <h6 class="title h7 mt35">
                    Данные за @@date г.
                </h6>
            </div>
        </div>
    </div>
</div>