<div class="question-screen">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title mb47">
                    Вопросы и ответы
                </h2>
                <h2 class="text mb15">
                    У меня получится?
                </h2>
                <h3 class="title mb40">
                    Выбрать стиль, речевые и графические приемы и чтобы выбрать стиль, речевые и граф чтобы выбрать
                    стиль, реченому. иемы и чтобы выбрать стиль, речевые и граф чтобы выбрать стиль, речено Выбрать
                    стиль, речевые и графические приемы и чтобы выбрать стиль, речевые и граф чтобы выбрать стиль,
                    реченому. иемы и чтобы выбрать стиль, речевые и граф чтобы выбрать стиль, речено
                </h3>
                <h2 class="text mb24">
                    Чем вы отличаетесь от других школ?
                </h2>
                <h2 class="text mb24">
                    Сколько времени занимает учёба?
                </h2>
                <h2 class="text mb24">
                    Как начать обучение?
                </h2>
                <h2 class="text mb24">
                    Могу ли я вернуть деньги, если что-то пойдёт не так?
                </h2>
                <h2 class="text">
                    Как оплатить?
                </h2>
            </div>
        </div>
    </div>
</div>