<div class="targeting-screen">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title targeting-title mb58">@@title</h2>
            </div>
            <div class="col-sm-7">

                @@for (var i = 0; i < list.length; i++) {
                <div class="targeting-link df mb32">
                    <img class="mr24 mb35" src="images/dest/cup.svg" alt="">
                    <h5 class="title">
                        `+list[i]+`
                    </h5>
                </div>
                }

            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <h3 class="title mt15">
                    Какой курс выбрать. Если Вы задаетесть этим вопросом, то Вам поможет, разработанный нами,
                    уникальный тест-конструктор, пройдя который Вам станет легче сделать свой выбор
                </h3>
                <button class="primary-btn mt64">Пройти тест</button>
            </div>
        </div>
    </div>

</div>