/* stylelint-disable */
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'), url('../fonts/gilroy/GilroyLight.woff2') format('woff2'), url('../fonts/gilroy/GilroyLight.woff') format('woff'), url('../fonts/gilroy/GilroyLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'), local('Gilroy-Regular'), url('../fonts/gilroy/Gilroy.woff2') format('woff2'), url('../fonts/gilroy/Gilroy.woff') format('woff'), url('../fonts/gilroy/Gilroy.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Medium'), local('Gilroy-Medium'), url('../fonts/gilroy/GilroyMedium.woff2') format('woff2'), url('../fonts/gilroy/GilroyMedium.woff') format('woff'), url('../fonts/gilroy/GilroyMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'), url('../fonts/gilroy/GilroySemiBold.woff2') format('woff2'), url('../fonts/gilroy/GilroySemiBold.woff') format('woff'), url('../fonts/gilroy/GilroySemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Black'), local('Gilroy-Black'), url('../fonts/gilroy/GilroyExtraBold.woff2') format('woff2'), url('../fonts/gilroy/GilroyExtraBold.woff') format('woff'), url('../fonts/gilroy/GilroyExtraBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
/* stylelint-enable */
