.contacts-page {
  margin-top: -3px;

  .map-screen {
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 752px;

    .map-img {
      width: 100%;
      height: 752px;
    }
  }

  .contacts-screen {
    padding-bottom: 71px;
  }
}