.main-screen {
  padding-top: 113px;
  padding-bottom: 80px;
}

.info-screen {
  padding-top: 80px;
  padding-bottom: 90px;
}

.targeting-screen {
  padding: 90px 0 80px;

  .targeting-title {
    max-width: 560px;
  }

  .targeting-link {
    max-width: 582px;
  }

  .primary-btn {
    margin-top: 127px;
  }
}

.price-screen {
  padding-top: 80px;
  padding-bottom: 100px;

  .price-circle {
    position: absolute;
    margin-top: 28px;
    margin-left: 24px;
  }

  .price-text {
    position: relative;
    top: 60%;
    left: 29%;
  }

  .price-number {
    position: relative;
    top: 53%;
    left: 20%;
  }
}

.necessary-screen {
  padding: 119px 0 80px;

  .necessary-column {
    margin-bottom: 32px;
  }
}

.practice-screen {
  position: relative;
  padding: 58px 0 80px;

  .practice-title {
    max-width: 560px;
  }

  .practice-link {
    max-width: 593px;
  }

  .img-tablet {
    margin-top: 156px;
  }

  .img-hologram {
    position: absolute;
    right: 3%;
    bottom: 42%;
  }
}

.certificates-screen {
  padding: 80px 0;
}

.question-screen {
  padding: 85px 0;
}

.cost-screen {
  padding: 80px 0;

  .cost-text {
    color: var(--blue-light);
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
  }

  .cost-text-light {
    color: var(--blue-light);
    font-weight: 500;
    font-size: 28px;
    line-height: 43px;
  }

  .cost-info {
    width: 555px;
    height: 619px;
    padding: 21px 27px 16px 64px;
    border: 3px solid;
    border-image: 1 linear-gradient(45deg, #21d4fd, #b721ff);
  }

  .primary-input.checkbox {
    flex: 1 0 12px;
  }
}