.certificates-page {
  .main-screen {
    padding-top: 115px;
    padding-bottom: 80px;
  }

  .courses-screen {
    padding-top: 80px;

    .title-courses {
      max-width: 850px;
    }
  }

  .check-direction-screen {
    padding-top: 20px;
    padding-bottom: 80px;
  }

  .prices-screen {
    padding-top: 35px;
    padding-bottom: 80px;

    .title-prices {
      max-width: 848px;
    }

    .price {
      font-weight: 500;
      font-size: 36px;
      line-height: 42px;
    }

    .price-column {
      max-width: 263px;
      padding: 67px 0px 35px;
      border: 3px solid;
      border-radius: 10px;
      border-image: 1 linear-gradient(45deg, #21d4fd, #b721ff);
    }
  }

  .certificate-screen {
    padding-top: 82px;
    padding-bottom: 80px;

    .title-certificate {
      max-width: 640px;
    }

    .title-prices {
      max-width: 882px;
    }
  }

  .have-questions-screen {
    padding-top: 88px;
    padding-bottom: 133px;

    .primary-input.checkbox {
      flex: 1 0 12px;
    }

    .h7.title {
      margin-top: -5px;
    }

    .primary-btn {
      margin-top: 57px;
    }
  }
}
